// Entries for all fonts go here. `@use 'static/fonts/font.sass'` to import
@font-face
  font-family: 'GoodUnicorn'
  font-style: normal
  font-weight: 500
  src: url('/fonts/GoodUnicorn.ttf') format('truetype')

@font-face
  font-family: 'lovebeat'
  font-style: normal
  font-weight: 500
  src: url('/fonts/lovebeat.otf') format('opentype')

@font-face
  font-family: 'PoetsenOne'
  font-style: normal
  font-weight: 400
  src: url('/fonts/PoetsenOne.ttf') format('truetype')
