<script>
  import BubbleBlurb from '$lib/components/BubbleBlurb.svelte';
  let rand_digit = a => Math.floor(Math.random() * a);

  let discord = "Discord";

  const page_quotes = [
    "The qt on Wayland",
    "298 yen",
    "ReLUwU activated",
  ];

  const quote = page_quotes[rand_digit(page_quotes.length)];

  // Generate fake address
  let rd = () => rand_digit(10);
  let rc = () => String.fromCharCode(rand_digit(26) + 65);

  const address = rand_digit(10000);
  const postal_code = `${rc()}${rd()}${rc()} ${rd()}${rc()}${rd()}`;
</script>

<svelte:head>
  <title>Home</title>
  <meta name="description" content="Akemi's personal website! OwU" />
</svelte:head>

<section class="home">
  <center class="bad-joke">
    { quote }
  </center>

  <grid class="bubbles">
    <BubbleBlurb title="About Me!">
      <p>
        Good morning! I'm Akemi, a CS honors student and TA at UAlberta. I'm
        often on discord, though email is the best way to contact me.
      </p>
      <p>
        I'm an executive for the <a href="https://uais.dev/about">UAIS</a> (AI
        club) and a software member for
        <a href="https://arvp.org/">ARVP</a>.
        Some of my other interests include,
        <a href="https://codeberg.org/akemi/dotfiles.git">unix</a>,
        biking,
        <span style="font-family: var(--font-jp)">
          日本語とアニミ... 当たり前じゃん
        </span>
        and you <tt>(&gt;ω^)</tt>
      </p>
    </BubbleBlurb>

    <BubbleBlurb title="Finding Meも">
      <ul>
        <li>
          <a href="https://codeberg.org/akemi">Codeberg</a>
          (open-source <a href="https://github.com/aizuko">Github</a>),
          <a href="https://gitlab.com/aizuko">Gitlab</a>,
          <a href="https://git.sr.ht/~akemi">Sourcehut</a>
        </li>
        <li><a
          href="https://discord.com/users/180472559148597249"
          on:mouseover={() => discord = "Akemi#2514"}
          on:focus={() => discord = "Akemi#2514"}
          on:mouseout={() => discord = "Discord"}
          on:blur={() => discord = "Discord"}
          >{ discord }</a>
        </li>
        <li><a href="https://anilist.co/user/akemiko">OnlyFans</a></li>
        <li><a href="https://open.kattis.com/users/akemi">Kattis</a></li>
        <li>Email: <tt>echo 'YWtlbWlAbm93YXkubW9lCg==' | base64 -d</tt></li>
        <li>Address: { address } Magika Loop NW, Wayland, { postal_code }</li>
      </ul>
    </BubbleBlurb>

    <BubbleBlurb title="Currently Working On">
      <p>
        Porting the
        <a href="https://codeberg.org/akemi/dotfiles/src/branch/main/notes">
        Unix notes</a> to <a href="https://codeberg.org/akemi/noway.moe">
        this website</a>. See the <a href="/notes">beta here!</a>
      </p>
      <p>
        DuckieTown robots. See <a href="/duckietown">progress feed here!</a>
      </p>
      <p>
        An MCTS Hex bot in Rust
      </p>
      <p>
        <a href="https://codeberg.org/akemi/shoubu">Shoubu</a>, a bot framework
        for the fun <a href="https://boardgamegeek.com/boardgame/272380/shbu">
        board game</a>
      </p>
    </BubbleBlurb>
  </grid>
</section>

<style lang="sass">
section.home
  margin: 0
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  background-color: var(--very-dark)

  .bad-joke
    font-family: var(--font-fantasy)
    font-size: 2em
    margin-top: 0.5em

  .bubbles
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 2%

    @media screen and (max-width: 1000px)
      display: block

    h3
      font-family: 'lovebeat', var(--font-sans)
      margin-bottom: 0

    p
      margin: 0.5em 0 0.5em 0

    ul
      list-style: none
      line-height: 1.4
      margin-top: 0.5em

      li::before
        content: '\2764'
        margin: 0 0.3em 0 -1em
        width: 1em
        color: var(--dark-accent)
</style>
