// Entries for all fonts go here. Use `@use 'static/fonts/font.sass'` to import
@font-face
  font-family: 'GoodUnicorn'
  font-style: normal
  font-weight: 500
  src: url('fonts/GoodUnicorn.ttf') format('truetype')
