<script>
  import '$lib/styles/markdown_styles.sass';
  import '$lib/styles/prism_highlights.sass';
  export let data;
</script>

<svelte:head>
  <title>Notes: {data.title}</title>
</svelte:head>

<article class="note">
  <div class="markdown-body">
    <svelte:component this={data.content} />
  </div>
</article>
