// Styles for use with blogs/notes or generally things rendered from markdown
.markdown-body
  background-color: var(--very-dark)
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  font-family: "Noto Sans", Helvetica, Arial, sans-serif
  margin: 0 auto
  margin-bottom: 2em
  max-width: 900px

  h1
    font-weight: 700
    text-align: left
    font-size: 2em
    font-family: var(--font-title)

  h2
    font-weight: 700
    text-align: left
    font-size: 1.8em
    font-family: var(--font-title)

  h3
    font-weight: 700
    text-align: left
    font-size: 1.6em
    font-family: var(--font-title)

  code
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", monospace
    background-color: var(--black-dark)
