:root
  --code-syntax-bg: #1d002c
  --code-syntax-comment: #fd971f
  --code-syntax-white: #f8f8f2
  --code-syntax-green: #a6e22e
  //--code-syntax-yellow: #e6db74
  --code-syntax-yellow: #ffff00
  --code-syntax-teal: #66d9ef
  --code-syntax-red: #ff6666
  //--code-syntax-purple: #ae81ff
  --code-syntax-purple: #d580ff

//╔────────────────────────────────────────────────────────────────────────────╗
//│ Cδdε highlighτs fδr ρrism.js blδcks                                        |
//╚────────────────────────────────────────────────────────────────────────────╝
code[class*=language-],
pre[class*=language-]
  color: var(--code-syntax-white)
  background: 0 0
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", monospace
  font-size: 0.9em
  text-align: left
  white-space: pre
  word-spacing: normal
  word-break: normal
  word-wrap: normal
  line-height: 1.5
  -moz-tab-size: 4
  -o-tab-size: 4
  tab-size: 4
  -webkit-hyphens: none
  -moz-hyphens: none
  -ms-hyphens: none
  hyphens: none

:not(pre)>code[class*=language-],
pre[class*=language-]
    background: var(--code-syntax-bg)

:not(pre)
    & > code[class*=language-]
        padding: .1em
        border-radius: .3em
        white-space: normal

.token
  &.cdata
    color: var(--code-syntax-comment)
  &.comment
    color: var(--code-syntax-comment)
  &.doctype
    color: var(--code-syntax-comment)
  &.prolog
    color: var(--code-syntax-comment)

  &.punctuation
    color: var(--code-syntax-white)
  &.namespace
    opacity: .7
  &.keyword
    color: var(--code-syntax-purple)
  &.italic
    font-style: italic
  &.entity
    cursor: help
  &.constant
    color: var(--code-syntax-red)
  &.deleted
    color: var(--code-syntax-red)
  &.property
    color: var(--code-syntax-red)
  &.symbol
    color: var(--code-syntax-red)
  &.tag
    color: var(--code-syntax-red)
  &.boolean
    color: var(--code-syntax-purple)
  &.number
    color: var(--code-syntax-purple)
  &.attr-name
    color: var(--code-syntax-green)
  &.builtin
    color: var(--code-syntax-green)
  &.char
    color: var(--code-syntax-green)
  &.inserted
    color: var(--code-syntax-green)
  &.selector
    color: var(--code-syntax-green)
  &.string
    color: var(--code-syntax-green)

  &.entity
    color: var(--code-syntax-white)
  &.operator
    color: var(--code-syntax-white)
  &.url
    color: var(--code-syntax-white)
  &.variable
    color: var(--code-syntax-white)

  &.atrule
    color: var(--code-syntax-yellow)
  &.attr-value
    color: var(--code-syntax-yellow)
  &.class-name
    color: var(--code-syntax-yellow)
  &.function
    color: var(--code-syntax-yellow)

  &.regex
    color: var(--code-syntax-comment)

  &.bold
    font-weight: 700
  &.important
    font-weight: 700
    color: var(--code-syntax-comment)

.language-css .token.string,
.style .token.string
  color: var(--code-syntax-white)

//╔────────────────────────────────────────────────────────────────────────────╗
//│ Cδdεblδcks τiτlε                                                           |
//╚────────────────────────────────────────────────────────────────────────────╝
pre[class*="language-"]
  border-radius: .3em
  margin: 2em 0
  overflow: hidden
  padding: 3em .65em .65em
  position: relative
  width: 100%

  &::before
    top: 0
    left: 0
    font-size: 1.1em
    font-weight: normal
    font-family: var(--font-sans)
    padding: .15em .65em
    width: 100%
    position: absolute
    background: yellow
    background: linear-gradient(to right, var(--very-dark), var(--light))

pre
  &.language-undefined:before
    content: 'Plain Text'
  &.language-awk:before
    content: 'Awk'
  &.language-bash:before
    content: 'Terminal'
  &.language-c:before
    content: 'C'
  &.language-cpp:before
    content: 'C++'
  &.language-markdown:before
    content: 'Markdown'
  &.language-python:before
    content: 'Python'
  &.language-rust:before
    content: 'Rust'
  &.language-sshconfig:before
    content: 'SSH Config'
  &.language-systemd:before
    content: 'Systemd Config'
