<script>
  import '$lib/styles/markdown_styles.sass';
  import BlogCard from '$lib/components/BlogCard.svelte';

  export let data;
</script>

<svelte:head>
  <title>Akemi's Unix Notes</title>
  <meta name="description"
    content="Notes Akemi took while using various Unix tools" />
</svelte:head>

<section>
  <div class="cards">
    {#each data.notes as note}
      <BlogCard
        title={ note.meta.title }
        description={note.meta.description}
        path={note.path}
        />
    {/each}
  </div>
</section>

<style lang="sass">
.cards
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
</style>
