<script>
  import '$lib/styles/markdown_styles.sass';
  import BlogCard from '$lib/components/BlogCard.svelte';

  export let data;
</script>

<svelte:head>
  <title>Akemi's Duckietown Live Feed</title>
  <meta name="description"
    content="Live project updates for CMPUT412 winter2023 at ualberta" />
</svelte:head>

<section>
  <div class="message">
    <h2>DuckieTown Live Feed!</h2>

    <p>
      Project updates while taking CMPUT412 (mobile robotics) at ualberta during
      the winter 2023 semester. Updated roughly weekly
    </p>
  </div>

  <div class="cards">
    {#each data.notes as note}
      <BlogCard
        title="{ note.meta.entry_number } - { note.meta.title }"
        description={note.meta.entry_number}
        path={note.path}
        />
    {/each}
  </div>
</section>

<style lang="sass">
.message
  display: flex
  flex-direction: column
  align-items: center

  h2
    font-family: var(--font-title)
    font-size: 1.8em
  p
    width: 40em

.cards
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
</style>
