@use 'sass:color'
@use '$lib/fonts.sass'

:root
  --font-sans: roboto, 'Helvetica', Roboto, 'Open Sans', 'lovebeat', 'PoetsenOne', sans-serif
  --font-mono: 'noto mono', monospace
  --font-fantasy: 'GoodUnicorn'
  --font-jp: "Source Han Sans", "源ノ角ゴシック", "Hiragino Sans", "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Noto Sans", "Noto Sans CJK JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif
  --font-title: 'PoetsenOne', 'lovebeat', 'Helvetica', ariel, sans-serif
  --font-size: 1.1em
  --mini-font-size: 0.8em
  --dark: #510089
  --very-dark: #32004a
  --black-dark: #1d002c
  --light: #ae1af7
  --very-light: #d37aff
  --dark-accent: yellow
  --dark-accent-darken: color.scale(yellow, $lightness: -10%)
  --light-accent: aquamarine
  --text-color: #eee

body
  margin: 0
  box-sizing: border-box
  min-height: 100vh

  font-size: var(--font-size)
  font-family: var(--font-sans)

  color: var(--text-color)
  background-color: var(--very-dark)

#svelte
  min-height: 100vh
  display: flex
  flex-direction: column

h1, h2, p
  font-weight: 400
  color: var(--heading-color)

p
  line-height: 1.5

ul
  line-height: 1.2

a
  color: var(--dark-accent)
  text-decoration: none

a:hover
  cursor: pointer
  text-decoration: underline

tt
  font-family: var(--font-mono)

h1
  font-size: 2rem
  text-align: center

h2
  font-size: 1.2rem

input, button
  font-size: inherit
  font-family: inherit

button:focus:not(:focus-visible)
  outline: none

@media (min-width: 720px)
  h1
    font-size: 2.4rem
