<script>
  export let title = "Untitled";
  export let description = "No description";
  export let path = "/";
</script>

<a href={path} id="outer-bubble">
  <div id="inner-bubble">
    <h2 class="title">{ title }</h2>
    <p>{ description }</p>
  </div>
</a>

<style lang="sass">
@use '../fonts.sass'

#outer-bubble
  display: block
  margin: 1em
  border: 1px solid var(--dark-accent)
  border-radius: 1em
  width: 600px
  background-size: 200% 100%
  transition-property: background-position
  background-position: 0%
  background-color: var(--dark)
  background-image: linear-gradient(90deg, var(--dark) 70%, var(--light) 95%, var(--dark) 100%)

  &:hover
    background-position: -110%
    transition-duration: 1s
    text-decoration: none

  #inner-bubble
    margin: 1em
    color: white

    h2
      margin-bottom: 0
      font-size: 1.6em
      font-family: 'lovebeat', var(--font-title)
      text-align: left
      font-weight: 600
</style>
