<script>
  export let title = "Untitled";
</script>

<section id="outer-bubble">
  <div id="inner-bubble">
    <h2>{ title }</h2>
    <slot />
  </div>
</section>

<style lang="sass">
@use '../fonts.sass'

#outer-bubble
  margin: 1em
  background-color: var(--dark)
  border: 1px solid var(--dark-accent)
  border-radius: 1em

  #inner-bubble
    margin: 1em

    h2
      margin-bottom: 0
      font-size: 1.8em
      font-family: 'lovebeat', var(--font-title), var(--font-sans)
      color: white
      text-align: left
      font-weight: 600
</style>
