<footer>
  <div class="content">
    <span>炎 2022-2023</span>
    <span>Written with <a href="https://codeberg.org/akemi/noway.moe">愛恋</a></span>
  </div>
</footer>

<style lang='sass'>
footer
  background-color: var(--dark)
  border-top: 1px solid var(--dark-accent)

  .content
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    padding: 0.9em
</style>
