<header>
  <nav>
      <a href="/">Home</a><!--
      --><a href="/notes">Notes</a><!--
      --><a href="https://codeberg.org/akemi/noway.moe.git">Git</a>
  </nav>
</header>

<style lang='sass'>
header
  width: 100%
  margin: 0 0.3em 0.3em 0.3em
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: center

  nav
    padding: 0.4em
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    border: 1px solid var(--dark-accent)
    border-top: none
    background-color: var(--dark)
    color: var(--text-color)

    a
      padding: 0 0.5rem
      text-decoration: none
      color: inherit
      border-right: 2px solid var(--dark-accent)

      &:last-child
        border-right: none
</style>
